<table class="table table-striped">
    <caption>Raspored utakmica</caption>
    <thead>
        <tr>
            <th>Datum</th>
            <th>Domaći tim</th>
            <th>Gostujući tim</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedules %}
        <tr>
            <td>{{schedule.date_ | date('Y-m-d')}}</td>
            <td>{{schedule.homeTeam.name}}</td>
            <td>{{schedule.awayTeam.name}}</td>
        </tr>
        {% endfor %} 
    </tbody>
</table>

